.links_container {
    padding-top: 33px;
    padding-bottom: 33px;
}
.links_container::after{
    display: block;
    background-color: #828282;
    height: 1px;
    content: "";
    margin-top: 33px;
}
.links {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
.link {
    text-decoration: none;
    color: #828282;
    transition: all .3s ease-out;
}
.link:focus {
    color: #070707;
    transition: none;
}
.link:hover {
    color: #070707;
    text-decoration: underline;
    transition: none;
}
.link:active {
    color: #828282;
    text-decoration: none;
    transition: none;
}