.skills {
    padding-top: 90px;
    padding-bottom: 90px;
}
.skills__info {
    display: flex;
    justify-content: center;
    gap: 90px;
}
.program {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.program__name {
    text-align: center;
    color: #828282;
    font-size: 14px;
}
.program__img {
    width: 88px;
    height: 88px;
}
.stars {
    display: flex;
    gap: 9px;
}
/* .stars {
    color: gray;
    font-size: 1rem;
    height: 26px;
    position: relative;
}
.stars::before {
    content: "☆☆☆☆☆";
}
[data-rate="0.4"]::after{
    width: 80%;
} 
.stars::after {
    color: black;
    content: "★★★★★";
    position: absolute;
    z-index: 1;
    display: block;
    left: 0;
    top: 0;
    overflow: hidden;
} */