.program {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.program__name {
    text-align: center;
    color: #828282;
    font-size: 14px;
}
.program__img {
    width: 88px;
    height: 88px;
}
.stars {
    display: flex;
    gap: 9px;
}