.contacts {
    align-items: center;
}
.contacts__btn {
    padding: 8px 20px;
    width: fit-content;
    border-radius: 25px;
    outline: none;
    border: 1px solid #000;
    background-color: #000;
    color: #fff;
    transition: all .3s ease-out;
}
.contacts__btn:focus {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: none;
}
.contacts__btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #000;
    transition: none;
}
.contacts__btn:active {
    background-color: #000;
    color: #fff;
    transition: none;
}
.contacts__text {
    color: #828282;
    font-size: 14px;
}
@media (max-width: 495px) {
    .contacts__text {
        font-size: 12px;
    }
}